@media screen and (max-width: 1200px) {
  .row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
@media screen and (max-width: 750px){
  #section .slide img {
    max-width: 100%;
  }
  #section .slide1 img{
    content: url(../img/슬라이드1.jpg);
  }
  #section .slide2 img{
    content: url(../img/슬라이드2.jpg);
  }
  #section .slide3 img{
    content: url(../img/슬라이드3.jpg);
  }
  #section .slide4 img{
    content: url(../img/슬라이드4.jpg);
  }
  #section .slide5 img{
    content: url(../img/슬라이드5.jpg);
  }
  #section .slide6 img{
    content: url(../img/슬라이드6.jpg);
  }
  #section .slide7 img{
    content: url(../img/슬라이드7.jpg);
  }
  #section .slide8 img{
    content: url(../img/슬라이드8.jpg);
  }
  #section .slide9 img{
    content: url(../img/슬라이드9.png);
  }
  #section .slideouter .slideinner button.slick-arrow{
  
  }
}
@media screen and (max-width: 1150px) {
  #header {
    z-index: 1000;
  }
  #header .row {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }
  #header #nav {
    display: block;
    width: 100%;
    padding-left: 0px;
  }
  #header .row .menuopen {
    display: flex;
    font-size: 30px;
    align-items: center;
  }
  #header #nav ul.depth1{
    display: none;
  }
  #header #nav ul.depth1.on {
    display: block;
  }
  #header .row #nav ul.depth1 > li {
    text-align: left;
    margin: 0px;
    padding: 0px;
    display: block; /*일단은 none 상태 보여줄 땐 block 해야함*/
  }
  #header .row #nav ul.depth1 > li > a {
    border-top: 1px solid #e0dede;
    display: block;
    padding: 10px 10px;
  }
  #header .row #nav ul.depth1 > li:hover > a{
    border-bottom: 3px solid #fff;
}
  #header .row #nav ul.depth1 > li.on ul.depth2 {
    display: block;
  }
  #header #nav ul.depth2 {
    position: static;
    border-top: 0px solid #e0dede;
  }
  #header #nav ul.lang {
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid #e0dede;
  }
  /*==========================================================================================*/
  #section {
    position: relative;
    margin-top: 200px;
  }
  #section .slide {
    position: relative;
  }
  
  #section .slide video{
    height: auto;
    width: 100%;
  }
  /*===================================================================================================*/
  #section .slideouter .slideinner {
    position: relative;
  }
  #section .slideouter .slideinner button.slick-arrow {
    position: absolute;
    color: #fff;
    font-size: 50px;
    top: 30%;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 80%;
  }
  #section .slideouter .slideinner button.slick-prev {
    left: 10px;
    z-index: 999;
  }
  #section .slideouter .slideinner button.slick-next {
    right: 10px;
  }
  #section .slideouter .slideinner ul.slick-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5px;
  }
  #section .slideouter .slideinner ul.slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  #section .slideouter .slideinner ul.slick-dots button {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    text-indent: 9999px;
    overflow: hidden;
    background: #fff;
    border: none;
  }
  #section .slideouter .slideinner ul.slick-dots li.slick-active button {
    background: #ffbc0d;
    width: 25px;
    height: 9px;
    border-radius: 20% / 50%;
  }
  /*===================================================================================================*/
  #section .LIVE{
    padding: 30px 0 20px;
    margin: 0 10px;
}
#section .LIVE h2{
    font-size: 40px;
    color: #292929;
    margin: 0 0 20px 10px;
}
#section .LIVE .ADV{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    justify-content: space-between;

}
#section .LIVE .ADV li{
    flex: 0 0 48%;
    margin: 0;

}
#section .LIVE .ADV li p {
    margin: 0; /* 기본 마진을 제거하여 더 깔끔하게 보이도록 설정 */
    display: flex;
    flex-direction: column;
    padding: 24px 30px;
    font-size: 18px;
}
#section .LIVE .ADV .photo{
    border: 0px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 0 0 50px 0;
    margin: 0 0px 10px;
    flex: 0 0 48%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#section .LIVE .ADV .photo img{
  width: 100%;
}
#section .slide10 {
  display: none;
}
  /*===================================================================================================*/
  #section .notice {
    background: url(../img/bg_visual_store01.jpg) center / cover;
    background-attachment: fixed;
    height: 450px;
    position: relative;
    display: none;
  }
  #section .notice .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.4);
  }
  #section .notice .text {
    color: #fff;
    text-align: left;
    position: absolute;

    font-family: "Paytone One";
    text-shadow: -0.1em 0.1em #182642;
  }
  #section .notice .text h2 {
    font-size: 30px;
    padding: 20px;
    margin: 30px 30px 30px 60px;
  }
  #section .notice .text p {
    font-size: 18px;
    padding: 20px;
    margin: 30px 30px 30px 60px;
    border-bottom: 1px solid #fff;
  }
  #section .notice .text p > span {
    display: block;
  }
  /*===================================================================================================*/
  #section .advpop {
    color: white;
    position: fixed;
    bottom: 90px;
    left: 1600px;
    z-index: 2;
    display: none;
  }
  /*==================================================================================*/
  #section .contact{
    padding: 50px 0 200px 0 ;
    text-align: center;
    display: flex; 
    
}
#section .contact .position {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; 
   justify-content: center;
}
#section .contact .position ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
#section .contact .position li {
    font-size: 14px;
    background-color: #fff;
    color: #000;
    border: 1px solid #999;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 0px;
    padding: 30px;
    display: inline-block;
    margin: 10px 0; 
    position: relative;   
    flex: 0 0 31%;
}
#section .contact .position li:not(:last-child) {
    margin-right: 0px;
}
#section .contact .search{
    overflow: hidden;
    padding: 0 50px 50px 50px;
}
#section .contact .search #message{
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    width: 60%;
    height: 75px;
    display: inline-block;
    float: left;
}
#send{
    font-size: 12px;
    background: #ffbc0d;
    border-radius: 50px;
    padding: 20px;
    border: none;
    margin-left: 10px;
    display: inline-block;
    height: 75px;
    width: 30%;
    cursor: pointer;
    float: left;
}
  /*===================================================================================================*/
  #footer {
    padding: 0 0 0  0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
  }
  #footer .btmmenu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  #footer .btmmenu .companyinfo {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
  }
  #footer .btmmenu .companyinfo .addr {
    padding-left: 20px;
  }
}
